* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

h1 {
    padding: 20px 0;
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 36px;
}


p {
    font-size: 26px;
}

span {
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper_select {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.wrapper_select h3 {
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
}

.wrapper_select img {
    display: inline-block;
    margin: 20px;
    width: 200px;
    cursor: pointer;

}

.select_start {
    display: block;
    width: 200px;
    height: 50px;
    margin: 15px auto;
    font-size: 26px;
    cursor: pointer;
}

.panel_left {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.panel_left h2 {
    font-size: 32px;
}

.panel_right {
    display: inline-block;
    width: 49%;
    text-align: center;
}